body {
  font-family: 'Raleway', sans-serif;
  background-color: #ECECEC;
}

.navbar-brand {
  font-size: 1.7em;
  font-weight: 500;
}

.alert {
  text-align: center;
}

.navbar-default {
  background-color: #22313F;
}

.navbar-default a, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #ECECEC;
    box-shadow: 10px #ECECEC;
}
.navbar-default a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default:hover .navbar-brand:hover {
  color: #ECECEC;
}

#form {
  margin: 200px auto;
  width: 50%;
}

button, a {
  border-radius: 0px !important;
}

table {
  width: 50% !important;
  margin:auto ;
}

.resultTable {
  width: 80% !important;
  margin: auto;
}

.cartTable {
  width: 80%;
}

#map-canvas{
  height: 75vh; 
  width:100%;
  margin-top:100px;
}

.summaryTable p {
  width: 8%;
  margin-left: 45%;
  margin-top: 40px;
  font-size: 1.5em;
}
.summaryTable p {
  border-bottom: 1px solid #bdc3c7;
}

.compare {
  width: 44%!important;
  float: right;
  margin-top: -390px;
}

#savings {
  width: 0px;
  font-size: 1.4em;
  font-weight: 800;
}

