<div ng-controller="ItemListCtrl">
  <!--- alert -->
  <div class="alert alert-danger alert-dismissable emptyTip" style="top:100px; position:relative;" ng-show="empty">
     <button type="button" class="close" data-dismiss="alert" 
        aria-hidden="true">
        &times;
     </button>
     Error: No items found! Try a new keyword!
  </div>
  <!-- alert -->
  
  <div id="form">
      <form role="form" ng-submit="addItem()">
        <div class="col-md-12">
          <div class="error alert-danger"></div>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter a an item/items" ng-model="inputModel">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary search">Start Saving!</button>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
  </div> <!-- /#form -->

    <!-- Listing results back from the API -->
  <div class="resultTable"> 
    <table class="table table-hover resultTable" ng-show="items">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Item</th>
          <th>Price</th>
          <th>Store</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items" id="list">
          <td><button class="btn btn-success cartBtn" ng-click="getItemId(item.name, item.price, item.store)">Add To Summary</button><td>
          <td>{{item.name}}</td>
          <td>{{item.price | currency:"$"}}</td>
          <td>{{item.store}}</td>
        </tr>  
      </tbody>        
    </table>
  </div> <!-- /.resultTable -->
  
  <!---Summary Table-->
    <div class="summaryTable" ng-show="cart"> 
      <table class="table table-hover cartTable">
        <p>Summary</p>
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Store</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart">
            <td>{{item.name | limitTo: 50}}...</a></td>
            <td>{{item.price | currency:"$"}}</td>
            <td>{{item.store}}</td>
            <td><button class="btn btn-danger" id="remove" ng-click="clearItem($index)" ng-show="cart">Remove</button></td>
            <td><button class="btn btn-default" ng-click="moveToCompare(item.name, item.price, item.store)" ng-show="cart">Compare</button></td>
          </tr>
          <td><a class="btn btn-success" href="/#/map">Show Map</a>
          <td>Total: {{ total | currency:"$"}}</td>
        </tbody>       
      </table>
    </div>
  <!---Summary Table-->
  </br></br></br></br>

    <!---Summary Table-->
    <div class=""> 
      <table class="table table-hover compare" ng-show="compare.length">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Store</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in compare">
            <td>{{item.name | limitTo: 50}}...</a></td>
            <td>{{item.price | currency:"$"}}</td>
            <td>{{item.store}}</td>
          </tr>
          <td><button class="btn btn-danger" id="remove" ng-click="clear()" ng-show="compare">Clear</button></td>
          <td id="savings">Savings: {{ diff | currency:"$" }}</td>
        </tbody>       
      </table>
    </div>
  <!---Summary Table-->
</div>