<div ng-controller="ItemListCtrl">
  
  <div id="form">
      <form role="form" ng-submit="addItem()">
        <div class="col-md-12">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter a an item/items" ng-model="inputModel">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary search">Start Saving!</button>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
  </div> <!-- /#form -->
  

  <!---Shopping Cart-->
    <div>
      <table class="table" ng-show="cart">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart">
            <th>{{item.name}}</th>
            <th>{{item.price}}</th>
            <th>{{item.store}}</th>
          </tr>  
        </tbody>        
      </table>
    </div>
  <!---Shopping Cart-->
  </br></br></br></br>

  <!-- Listing results back from the API -->

  <div>
    <table class="table" ng-show="items">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <th>{{item.name}}</th>
          <th>{{item.price}}</th>
          <th>{{item.store}}</th>
        </tr>  
      </tbody>        
    </table>
  </div>

</div>