<div ng-controller="ItemListCtrl">
  
  <div id="form">
      <form role="form" ng-submit="addItem()">
        <div class="col-md-12">
          <div class="error alert-danger"></div>
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Enter a an item/items" ng-model="inputModel">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary search">Start Saving!</button>
            </span>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
  </div>

      
      <button class="btn btn-danger" ng-click="clearItems()" ng-show="items" style="top:5px">Clear Items</button>
      

      <!-- Listing results back from the API -->
      <table class="table table-hover resultTable" ng-show="items">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Item</th>
            <th>Price</th>
            <th>Store</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items" ng-click="addToSummary($event)" id="list">
            <td><button class="btn btn-success cartBtn" ng-click="getItemId(item.name, item.price, item.store)">Add To Summary</button><td>
            <td>{{item.name}}</td>
            <td>{{item.price | currency:"$"}}</td>
            <td>{{item.store}}</td>
          </tr>  
        </tbody>        
      </table>
  </div> <!-- /#results -->
  

  <!---Shopping Cart-->
    <div>
      <table class="table table-hover cartTable" ng-show="cart">
        <thead>
          <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Store</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart" id="cart">
            <td>{{item.name | limitTo: 50}}...</td>
            <td>{{item.price | currency:"$"}}</td>
            <td>{{item.store}}</td>
          </tr>  
          <td><button class="btn btn-success" ng-click="map()">Show Map</button>
          <td>Total: {{ total | currency:"$"}}</td>
        </tbody>        
      </table>
    </div>
  <!---Shopping Cart-->
  </br></br></br></br>

  <!--- alert -->
  <!-- <div class="alert alert-info alert-dismissable cartTip" ng-show="cartTip">
     <button type="button" class="close" data-dismiss="alert" 
        aria-hidden="true">
        &times;
     </button>
     Click items to put them in your cart!
  </div> -->
  <!-- alert -->
</div>